.CardDiv{
    display: auto;
    text-align: center;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    top: 60px;
    place-items: center;
    }
    .card{
        margin-top: 60px;
    }

    @media only screen and (max-width: 930px) {
        .CardDiv{
           
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            top: 60px;
            
            }
      }
      @media only screen and (max-width: 700px) {
        .CardDiv{
           
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            top: 60px;
            
            }
      }
      @media only screen and (max-width: 500px) {
        .CardDiv{        
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            place-items: center;
           
            
            }
      }